<h1> Express App : {{title}}</h1>
<ul>
  <li>name :.......................... {{user.name}}</li><br/>
  <li>firstName :..................... {{user.firstName}}</li><br/>
  <li>login :......................... {{user.login}}</li><br/>
  <li>mdp :........................... {{user.mdp}}</li><br/>
  <li>function :...................... {{user.function}}</li><br/>
  <li>office :........................ {{user.office}}</li><br/>
  <li>date_naiss :.................... {{user.date_naiss}}</li><br/>
  <li>adresse1 :...................... {{user.adresse1}}</li><br/>
  <li>adresse2 :...................... {{user.adresse2}}</li><br/>
  <li>cp :............................ {{user.cp}}</li><br/>
  <li>mobile_phone :.................. {{user.mobile_phone}}</li><br/>
  <li>home_phone :.................... {{user.home_phone}}</li><br/>
</ul>
